<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ConexionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Hp\Downloads\InventarioCtaPrueba.xlsx;Extended Properties=Excel 12.0;Persist Security Info=True"/>
    <add key="SqlString" value="Data Source=DESKTOP-R73A9RK;Initial Catalog=LoginDb;Integrated Security=True"/>
  </appSettings>
</configuration>